@using online_shopping.Models.Home;
@{
    ViewBag.Title = "ViewOrderConfirm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2> Order Confirm</h2>
<div class="container">
    <p> Your Order Is Confirm. Your Order Will Be Delivered Soon. Thank You Plaese Come Again</p>
</div>

